@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root{
    --white: hsl(0, 0%, 100%);

    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    
    --brown-800: hsl(14, 45%, 36%);

    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    --font-family-1:"Young Serif", sans-serif;
    --font-family-2:"Outfit", sans-serif;
}
body {
  margin: 0; 
  padding: 0; 
  font-family: var(--font-family-1); 
  background-color: #e9d7c6;
  box-sizing: border-box;
 

}
section.container {
    flex: 0 0 100%;
    max-width: 100%;
    background-color: var(--white);
    border-radius: 12px;
    padding: 2.5rem;
    margin: 10% 15%;
}
section.container h1, section.container h2, section.container h4{
    font-family: var(--font-family-1);
    color: var(--brown-800);
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 2rem;
}

section.container p{
    font-family: var(--font-family-2);
    font-size: 1rem;
    line-height: 1.5;
    color: var(--stone-600);
}

section.container img{
    flex: 0 0 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;

}
 section.container h1{
    font-size: 2rem;
    font-weight: 400;
    color: var(--stone-900);
}

section.container p{
    font-family: var(--font-family-2);
    font-size: 1rem;
    line-height: 1.5;
    color: var(--stone-600);
}
div.preparation{
    flex: 0 0 100%;
    max-width: 100%;
    background-color: var(--rose-50);
    padding: 12px 15px;
    border-radius: 12px;

}

div.preparation h4{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 10px;
    margin-left: 18px;
    color: var(--rose-800);
    margin: 4px;
}

div.preparation ul li, div.ingredients ul li{
    line-height: 2rem;
    font-family: var(--font-family-2);
    color: var(--stone-600);
    font-size: 1rem;
    padding-left: 15px;
}
div.ingredients, div.instructions{
    border-bottom: 1px solid var(--stone-150);
}

div.instructions ol li::marker {
    list-style-type: decimal;
    color: var(--brown-800);
    font-weight: bold;
    margin-right: 10px;

}

div.instructions ol li {
    font-family: var(--font-family-2);
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--stone-600);
    padding-left: 15px;
}

table{
    width: 100%;
    margin-bottom: 30px;
}

table th, table td {
    width: 50%;   
    padding: 10px; 
    border-bottom: 1px solid var(--stone-150);
    text-align: left;
}
table th {
    font-weight: 400;
    color: var(--stone-600);
    font-size: 1rem;
    font-family: var(--font-family-2);
}

table td {
    color: var(--brown-800);
    font-family: var(--font-family-1);
}


.attribution {
    font-size: 11px; 
    text-align: center; 
    line-height: 1.2rem;

}
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width:576px){
    body{
        transition: all 0.3s ease;/* buraya bak */
    }

    section.container{
        margin: 0;
        border-radius: 0;
        padding: 0;
    }
    section.container div.all{
        padding: 2.5rem;
    }
    section.container img{
        border-radius: 0 !important;
        margin: 0;
    }
    
}